
.ribbon {
    width: 100%;
    height: 40vh;

    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.main {
    margin-top: -35vh;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.header .mdl-layout__header-row {
    padding-left: 40px;
}

.container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.content {
    border-radius: 2px;
    padding: 20px 56px 20px 56px;
    margin-bottom: 40px;
}

.layout.is-small-screen .content {
    padding: 40px 28px;
}

.content h3 {
    margin-top: 48px;
}

.input-label {
    margin-bottom: -14px;
}
.mdl-card__actions{
    text-align: right;
}
.form-element {
    margin-top: 10px;
}

.form-element .mdl-textfield {
    width: 100%;
}

.mdl-card__title {
    padding-left: 0 !important;
}
.mdl-button {min-width: 170px !important; min-height: 50px !important;}
.mdl-button--colored {background-color: #ffd555 !important;}
.mdl-button--outline {border: 1px solid #ffd555 !important;}


a {text-decoration: none; font-weight: bold !important; }

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 4;
}
.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
    right: 0;
}